/***
    Horizontal Sidebar
***/

@media (-moz-pref("user.horizontal-sidebar")) {

    .expanded-button[view="viewCustomizeSidebar"],
    .button-background.labelled label {
        display: none !important;
    }

    .tools-and-extensions.actions-list:has(.expanded-button) {
        display: flex !important;
        flex-direction: row !important;
        padding-bottom: 4px !important;
    }

    .tools-and-extensions.actions-list {
        justify-content: space-between !important;
    }

    button {
        padding-block-start: 0 !important;
    }

    .button-background img {
        margin: auto !important;
    }

    .button-background {
        scale: 0.9 !important;
    }

    /* Hide sidebar extensions */
    @media (-moz-pref("user.horizontal-sidebar.hide-extensions")) {
        .expanded-button[extension] {
            display: none !important;
        }
    }

    /* Hide specific extension */
    @media (-moz-pref("user.horizontal-sidebar.hide-specific-extension")) {

        .expanded-button[extensionId="{c3c10168-4186-445c-9c5b-63f12b8e2c87}"],
        /* Add your extension ID here */
        .expanded-button[extensionId="{446900e4-71c2-419f-a6a7-df9c091e268b}"] {
            display: none !important;
        }
    }
}


/***
    Floating Browser Container
***/

@media (-moz-pref("user.floating-browser-container")) {
    tabbox#tabbrowser-tabbox {
        margin: 4px 8px 8px 0px !important;
        outline: 0 !important;
        border-radius: 6px !important;

        /* Add container radius */
        browser,
        #tabbrowser-tabpanels {
            border-radius: 6px !important;
            clip-path: inset(0 round 6px);
        }
    }

    tabbox#tabbrowser-tabbox:not([sidebar-shown]) {
        margin: 4px 8px 8px 8px !important;
    }
}


/***
    Small Tweaks
***/

/* Disable Status Bar */
@media (-moz-pref("user.disable-status-bar")) {
    #statuspanel {
        display: none !important;
    }
}

/* Increase Pinned Tab Height */
@media (-moz-pref("user.increase-pinned-tab-height")) {

    .tabbrowser-tab[pinned=""],
    .tabbrowser-tab[pinned="true"] {
        height: 50px !important;
    }
}

/* Add Pinned Separator */
@media (-moz-pref("user.add-pinned-separator")) {
    #vertical-pinned-tabs-container:not(:empty)+#vertical-pinned-tabs-container-separator {
        display: block !important;
        opacity: 42% !important;
    }
}
